<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saintdan.framework.starter.mapper.RoleAndResourceMapper">

    <resultMap type="com.saintdan.framework.starter.po.RoleAndResource" id="roleAndResourceMap">
        <result property="roleId" column="role_id"/>
        <result property="resourceId" column="resource_id"/>
    </resultMap>

    <delete id="deleteByRoleId">
        delete from roles_and_resources where role_id = #{roleId}
    </delete>

    <delete id="deleteByResourceId">
        delete from roles_and_resources where resource_id = #{resourceId}
    </delete>

</mapper>