<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saintdan.framework.mapper.LogMapper">

    <resultMap type="com.saintdan.framework.po.Log" id="logMap">
        <result property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="usr" column="usr"/>
        <result property="clientId" column="client_id"/>
        <result property="path" column="path"/>
        <result property="method" column="method"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
    </resultMap>

</mapper>