{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }]
  }
}
